page-sign-in {
    .image-wrap{
        width:100%;
        text-align:center;
        >img{
            width: 70%;
        }
    }
    .sign-up-text{
        text-decoration:underline;
        text-align:center;
    }
}
